.hamburger
	background-color: blue
	+desktop()
		display: none
.splash-nav
	display: flex
	justify-content: center
	align-items: center
.splash-nav-desktop-grid
	display: flex
	align-items: center
	width: 1200px
	margin: auto
	.splash-nav-primary
		display: flex
		align-items: center
	.splash-nav-secondary
		margin-left: auto
	.splash-nav-primary, .splash-nav-secondary
		&>.splash-nav-item>a:hover
			border-bottom: 2px solid $thinkful
		.splash-nav-item__logo>a
			&:hover
				border-bottom: none
	.splash-nav-item
		list-style-type: none
		text-decoration: none
		margin: auto 25px
		text-transform: uppercase
		.splash-nav-dropdown
			position: absolute
			top: 90px
			left: 0
			background-color: #f9fbff
			width: 100%
			padding: 50px
			ul
				width: 100%
				display: flex
				list-style-type: none
				justify-content: space-around
				li
					display: flex
					justify-content: center
					text-align: center
					width: 200px
					text-transform: none
					img
						width: 75px
					a
						color: black
					.splash-nav-dropdown-cp-links
						display: flex
						a
							color: $thinkful
