@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
.uppercase {
  text-transform: uppercase; }

.hamburger {
  background-color: blue; }
  @media screen and (min-width: 992px) {
    .hamburger {
      display: none; } }

.splash-nav {
  display: flex;
  justify-content: center; }

.splash-nav-desktop-grid {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto; }
  .splash-nav-desktop-grid .splash-nav-primary {
    display: flex;
    align-items: center; }
  .splash-nav-desktop-grid .splash-nav-secondary {
    margin-left: auto; }
  .splash-nav-desktop-grid .splash-nav-item {
    list-style-type: none;
    text-decoration: none; }

@font-face {
  font-family: 'BTC';
  src: url("assets/brushtip-C TRIAL/BTCTRIAL.ttf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.hamburger {
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px; }

.hamburger-stripe {
  background-color: #6799ff;
  height: 3px;
  margin-bottom: 5px; }

.splash-nav-dropdown-hidden, .splash-nav-desktop-grid-closed {
  display: none; }

a {
  text-decoration: none;
  color: #6799ff; }
