@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
.uppercase {
  text-transform: uppercase; }

.hamburger {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px; }
  @media screen and (min-width: 992px) {
    .hamburger {
      display: none; } }

.splash-nav-desktop-grid-closed .splash-nav-item:not(.splash-nav-item__logo) {
  display: none; }
  @media screen and (min-width: 992px) {
    .splash-nav-desktop-grid-closed .splash-nav-item:not(.splash-nav-item__logo) {
      display: initial; } }
  .splash-nav-desktop-grid-closed .splash-nav-item:not(.splash-nav-item__logo):hover {
    border-bottom: 1px solid #6799ff; }

.splash-nav-desktop-grid {
  max-width: 1200px;
  margin: auto; }
  @media screen and (min-width: 992px) {
    .splash-nav-desktop-grid {
      display: flex; } }

@media screen and (min-width: 992px) {
  .splash-nav-primary, .splash-nav-secondary {
    display: flex;
    align-items: center; } }

@media screen and (min-width: 992px) {
  .splash-nav-primary {
    flex: 1; } }

.splash-nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.splash-nav-item {
  border-bottom: 1px solid gray; }
  @media screen and (min-width: 992px) {
    .splash-nav-item {
      border: none; } }

.splash-nav-dropdown-hidden {
  display: none; }

.splash-nav-item > a {
  text-transform: uppercase;
  padding: 14px 18px;
  display: block; }
  @media screen and (min-width: 992px) {
    .splash-nav-item > a {
      padding: 0;
      margin: 25px 25px; } }

.splash-nav-dropdown-item img {
  display: none;
  width: 75px; }
  @media screen and (min-width: 992px) {
    .splash-nav-dropdown-item img {
      display: inline; } }

@media screen and (min-width: 992px) {
  .splash-nav-dropdown-item {
    text-align: center;
    width: 200px; } }

.splash-nav-dropdown {
  background-color: #f9fbff; }
  @media screen and (min-width: 992px) {
    .splash-nav-dropdown {
      position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      padding: 50px; } }

.splash-nav-dropdown > ul {
  display: flex;
  justify-content: space-around; }

.splash-nav-dropdown-title {
  color: black;
  font-weight: 400;
  padding: 8px 18px;
  margin: 0; }

.splash-nav-web-dev-bootcamp-link {
  display: none; }
  @media screen and (min-width: 992px) {
    .splash-nav-web-dev-bootcamp-link {
      display: block; } }

@media screen and (min-width: 992px) {
  .splash-nav-dropdown-cp-links {
    display: flex;
    justify-content: center; } }

.splash-nav-dropdown-cp-links a {
  display: block;
  color: black;
  padding: 8px 18px; }
  @media screen and (min-width: 992px) {
    .splash-nav-dropdown-cp-links a {
      color: #6799ff; } }

@font-face {
  font-family: 'BTC';
  src: url("assets/brushtip-C TRIAL/BTCTRIAL.ttf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.hamburger {
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px; }

.hamburger-stripe {
  background-color: #6799ff;
  height: 3px;
  margin-bottom: 5px; }

a {
  text-decoration: none;
  color: #6799ff; }
